<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card status="primary">
    <nb-card-header class="text-center"><h5>Order {{data.itemName}}</h5></nb-card-header>
    <nb-card-body>
    <!--  <div class="row">
        <div class="col">-->
          <label for="quantity">Quantity</label>
          <input class="form-control"  id="quantity" nbInput
                 type="number" name="quantity" #quantity (keyup)="calculateTotal(data.price , quantity.value)" (change)="calculateTotal(data.price , quantity.value)" min="1" required>
        <!--</div>
        <div class="col">-->
          <label for="itemPrice">Total Expenses</label>
          <input class="form-control"  id="itemPrice" nbInput [(ngModel)]="totalExpenses"
                 type="text" readonly><br>
      <nb-checkbox (checkedChange)="agree = !agree">I Agree to Terms</nb-checkbox>
      <p> <b class="text-danger">(order cannot be cancelled!!)</b></p>
      <!--</div>
    </div>-->
    </nb-card-body>
    <nb-card-footer>
      <button nbButton hero  status="danger" (click)="ref.close()" size="small">cancel</button>
      <button *ngIf="quantity.value > 0 && agree" nbButton hero status="primary" class="float-right" (click)="orderItem(data , quantity.value); ref.close()" size="small">Order</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<table class="table table-striped table-bordered table-hover">
  <ng-container>
    <thead>
    <tr>
    <th>Meal</th>
    <th>price</th>
    <!--<th>Status</th>-->
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let singleItem of item">
      <td>{{singleItem.itemName}}</td>
      <td>Rs.{{singleItem.price}}</td>
      <!--<td>{{singleItem.itemStatus}}</td>-->
      <td>
       <button *ngIf="singleItem.itemStatus !== 'OUTOFSTOCK' && isStudent" nbButton hero status="info" size="tiny" (click)="openOrder(dialog , singleItem)">Order</button>
        <button *ngIf="isAdmin" nbButton hero status="success" size="small" (click)="onEditItem(singleItem)">Edit</button>
          <nb-icon *ngIf="singleItem.itemStatus === 'OUTOFSTOCK'" icon="close" status="danger" [options]="{ animation: { type: 'zoom' }}" class="mt-2"></nb-icon>
      </td>
    </tr>
    </tbody>
  </ng-container>
</table>
