<nb-card>
  <nb-tabset>
    <nb-tab tabTitle="TopUp History" tabIcon="briefcase" responsive style="padding: 0px">
      <nb-card accent="primary" class="p-0">
        <nb-card-header class="text-center">
          <h5>User Transaction
          </h5>
          <div class="row">
            <div class="col-md-12 text-right">
              <button *ngIf="!isFilterCollapsed"
                      (click)="isFilterCollapsed = !isFilterCollapsed"
                      [attr.aria-expanded]="!isFilterCollapsed" aria-controls="searchModel"
                      nbButton
                      shape="rectangle"
                      size="small"
                      status="primary">
                <nb-icon icon="arrow-downward"></nb-icon>
              </button>
              <button *ngIf="isFilterCollapsed"
                      (click)="isFilterCollapsed = !isFilterCollapsed"
                      [attr.aria-expanded]="!isFilterCollapsed" aria-controls="searchModel"
                      nbButton
                      shape="rectangle"
                      size="small"
                      status="primary">
                <nb-icon icon="arrow-upward"></nb-icon>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <form [formGroup]="searchForm" (ngSubmit)="searchOrdersByDate()">
                <table>
                  <tr [hidden]="isFilterCollapsed">
                    <td>
                      <input [nbDatepicker]="startingDate" formControlName="startingDate"
                             nbInput placeholder="Start Date" status="primary" name="startingDate">
                      <nb-datepicker #startingDate></nb-datepicker>
                    </td>
                    <td>
                      <input [nbDatepicker]="endingDate" formControlName="endingDate" class="form-control"
                             name="endingDate" nbInput placeholder="End Date" status="primary" required>
                      <nb-datepicker #endingDate></nb-datepicker>
                    </td>
                    <td>
                      <button *ngIf="searchForm.valid" type="submit" nbButton status="primary" size="medium"><nb-icon  icon="search"></nb-icon></button>
                    </td>
                  </tr>
                </table>
              </form>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <table class="table ">
            <thead>
            <tr>
              <!--<th>S.no</th>-->
              <th>Date</th>
              <th><!--Add/Deducted Amount--> Amount</th>
              <th>New Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of topUpHistoryData; let i=index">
              <!--<td>{{i+1}}</td>-->
              <td>{{transaction?.createdAt | date}}</td>
              <td [ngStyle]="{'color': color(transaction?.topUpAmount.toString()) ? 'red' : 'blue'}">Rs.{{transaction?.topUpAmount}}</td>
              <td>Rs.{{transaction?.remainingAmount}}</td>
              <td><nb-icon icon="question-mark-circle" status="info" (click)="openHistoryDetail( transaction)"></nb-icon></td>
            </tr>
            </tbody>
          </table>
          <div *ngIf="!(topUpHistoryData.length>0)" class="text-center">
            <p>No Top Up history found so far!</p>
          </div>
          <app-paging *ngIf="!spinner" [pageable]="pageable" (changePage)="changePage($event)"></app-paging>
        </nb-card-body>
      </nb-card>
    </nb-tab>
    <nb-tab tabTitle="Order History" tabIcon="shopping-cart" responsive style="padding: 0px">
<app-orders [searchDto]="searchDto"></app-orders>
    </nb-tab>
  </nb-tabset>
</nb-card>
