<nb-layout>
  <nb-layout-column>
<nb-card>
  <nb-tabset>
    <nb-tab tabTitle="TopUp History" tabIcon="briefcase" responsive>
      <nb-card accent="primary" class="p-0">
        <nb-card-header class="text-center">
          <h5>User Transaction</h5>
          <div class="row">
            <button
              (click)="isFilterCollapsed = !isFilterCollapsed"
              [attr.aria-expanded]="!isFilterCollapsed" aria-controls="searchModel"
              nbButton
              shape="rectangle"
              size="small"
              status="success">
              <nb-icon [hidden]="!isFilterCollapsed" icon="arrow-downward"></nb-icon>
              <nb-icon [hidden]="isFilterCollapsed" icon="arrow-upward"></nb-icon>
            </button>
          </div>
        </nb-card-header>
        <nb-card-body>
          <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
              <!--<th>S.no</th>-->
              <th>Date</th>
              <th><!--Add/Deducted Amount--> Amount</th>
              <th>New Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transaction; let i=index">
              <!--<td>{{i+1}}</td>-->
              <td>{{transaction.createdAt | date}}</td>
              <td [ngStyle]="{'color': color(transaction.topUpAmount.toString()) ? 'red' : 'blue'}">Rs.{{transaction.topUpAmount}}</td>
              <td>Rs.{{transaction.remainingAmount}}</td>
            </tr>
            </tbody>
          </table>
          <div *ngIf="!(transaction.length>0)" class="text-center">
            <p>No Top Up history found so far!</p>
          </div>
        </nb-card-body>
      </nb-card>
    </nb-tab>
    <nb-tab tabTitle="Order History" tabIcon="shopping-cart" responsive style="padding: 0px">
<app-orders [searchDto]="searchDto"></app-orders>
    </nb-tab>
  </nb-tabset>
</nb-card>
  </nb-layout-column>
</nb-layout>
