<nb-layout>
  <nb-layout-column id="ll">
    <div class="text-center">
      <p routerLink="/user-inactive">Log in to continue</p>
      <div class="container mt-3">
        <div class="row">
          <div class="card rounded col-md-6 offset-3 bg-transparent">
            <div class="card-header mx-auto">
              <!-- message here-->

            </div>
            <div class="card-body shadow">
              <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
                <div class="form-group">
                  <input #userName="ngModel" class="form-control" name="userName"
                         ngModel placeholder="Username"
                         required type="text">
                </div>

                <div class="input-group form-group">
                  <input #password="ngModel" class="form-control" name="password" ngModel
                         placeholder="Password" required type="password">
                </div>

                <div class="form-group">
                    <button nbButton status="info" class="float-right" type="submit">
                    <span *ngIf="spinner" class="spinner-border spinner-border-sm"></span>
                   <span *ngIf="!spinner"> Sign In</span>
                  </button>
                </div>
              </form>
            </div>
            <div class="card-footer text-center">
              <button nbButton fullWidth outline status="info" (click)="onRegister()">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>

