<nb-layout>
  <nb-layout-column class="login-block">
    <section >
      <div class="container">
        <div class="row">
          <div class="col-md-4 login-sec">
            <h2 class="text-center">Login Now</h2>
            <form [formGroup]="loginForm" class="login-form">
              <div class="form-group">
                <label class="text-uppercase">Username</label>
                <input class="form-control" formControlName="userName"
                       type="text"></div>
              <div class="form-group">
                <label class="text-uppercase">Password</label>
                <input class="form-control" formControlName="password" type="password">
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button (click)="onSubmit()" class="btn btn-info" nbButton><span
                    *ngIf="spinner" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!spinner"> Login</span></button>
                  <button (click)="onRegister()" class="btn btn-info  float-right">Register</button>
                </div>
              </div>
            </form>
            <div class="row mt-5 d-flex justify-content-center">
              <i class="text-danger cursor"><u> Forgot Password <nb-icon icon="arrow-right-outline"></nb-icon></u></i>
            </div>
          </div>
          <div class="col-md-8">
            <img alt="First slide" class="d-block img-fluid"
                 src="../../../../assets/images/res.jpg">
          </div>
        </div>
        <div class="bg-white">
          <app-footer></app-footer>
        </div>
      </div>
    </section>
  </nb-layout-column>
</nb-layout>
