<nb-layout withScroll>
  <nb-layout-column>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Account-Setting" tabIcon="person-outline" responsive>
        <app-user-config></app-user-config>
      </nb-tab>
      <nb-tab tabTitle="Add-Item" tabIcon="plus">
        <nb-card>
          <nb-card-header class="text-center">
            <button nbButton hero status="info" size="small" class="float-right" (click)="onAddItem()">Add-Item</button>
          </nb-card-header>
          <nb-card-body>
           <app-item-list></app-item-list>
          </nb-card-body>
        </nb-card>
      </nb-tab><!--
      <nb-tab tabTitle="Transactions" tabIcon="briefcase" responsive>
      </nb-tab>-->
    </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>

</div>
  </nb-layout-column>
  </nb-layout>
