<nb-card accent="primary" class="p-0">
  <nb-card-header class="text-center">
    <b>{{searchDto.orderStatus}} ORDERS</b>
    <div class="row">
    <div class="col-md-12 text-right">
      <button
        (click)="isFilterCollapsed = !isFilterCollapsed"
        [attr.aria-expanded]="!isFilterCollapsed" aria-controls="searchModel"
        nbButton
        shape="rectangle"
        size="small"
        status="primary">
        <nb-icon [hidden]="!isFilterCollapsed" icon="arrow-downward"></nb-icon>
        <nb-icon [hidden]="isFilterCollapsed" icon="arrow-upward"></nb-icon>
      </button>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <form [formGroup]="searchForm" (ngSubmit)="searchDataByDate()">
          <table>
            <tr [hidden]="isFilterCollapsed">
              <td>
                <input [nbDatepicker]="startDate" class="form-control" formControlName="startDate"
                       name="startDate" nbInput placeholder="Start Date" status="primary" required>
                <nb-datepicker #startDate></nb-datepicker>
              </td>
              <td>
                <input [nbDatepicker]="endDate" formControlName="endDate" class="form-control"
                       name="endDate" nbInput placeholder="End Date" status="primary" required>
                <nb-datepicker #endDate></nb-datepicker>
              </td>
              <td>
                <button *ngIf="searchForm.valid" type="submit" nbButton status="primary" size="medium"><nb-icon  icon="search"></nb-icon></button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <!--<th>S.no</th>
        <th>Status</th>-->
        <th>Item</th>
        <th>Date</th>
        <th>Qty</th>
        <th>Amount</th>
        <th>Token</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of order; let i=index">
       <!-- <td>{{i+1}}</td>
        <td>{{order?.orderStatus}}</td>-->
        <td>{{order?.itemName}}</td>
        <td>{{order?.createdAt| date}}</td>
        <td>{{order?.quantity}}</td>
        <td>Rs.{{order?.expenditure}}</td>
        <td>{{order?.orderCode}}</td>
      </tr>
      </tbody>
    </table>
    <app-paging *ngIf="!spinner" [pageable]="pageable" (changePage)="changePage($event)"></app-paging>
  </nb-card-body>
</nb-card>
