
  <div class="bg-white">
    <nb-card accent="primary">
      <nb-card-header class="text-center">
        <b>{{searchDto?.orderStatus}} ORDERS</b>
        <div *ngIf="searchDto.orderStatus != 'PENDING'" class="row">
          <div class="col-md-12 text-right">
            <button *ngIf="!isFilterCollapsed"
                    (click)="isFilterCollapsed = !isFilterCollapsed"
                    [attr.aria-expanded]="!isFilterCollapsed" aria-controls="searchModel"
                    nbButton
                    shape="rectangle"
                    size="small"
                    status="primary">
              <nb-icon icon="arrow-downward"></nb-icon>
            </button>
            <button *ngIf="isFilterCollapsed"
                    (click)="isFilterCollapsed = !isFilterCollapsed"
                    [attr.aria-expanded]="!isFilterCollapsed" aria-controls="searchModel"
                    nbButton
                    shape="rectangle"
                    size="small"
                    status="primary">
              <nb-icon icon="arrow-upward"></nb-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-right">
            <form [formGroup]="searchForm" (ngSubmit)="searchOrdersByDate()">
              <table>
                <tr [hidden]="isFilterCollapsed">
                  <td>
                    <input [nbDatepicker]="startDate" class="form-control" formControlName="startDate"
                           name="startDate" nbInput placeholder="Start Date" status="primary" required>
                    <nb-datepicker #startDate></nb-datepicker>
                  </td>
                  <td>
                    <input [nbDatepicker]="endDate" formControlName="endDate" class="form-control"
                           name="endDate" nbInput placeholder="End Date" status="primary" required>
                    <nb-datepicker #endDate></nb-datepicker>
                  </td>
                  <td>
                    <nb-select #orderStatus  formControlName="orderStatus"
                               placeholder="status" size="medium" status="primary">
                      <nb-option value="PENDING">Pending</nb-option>
                      <nb-option value="READY">Ready</nb-option>
                      <nb-option value="DELIVERED">Deliver</nb-option>
                    </nb-select>
                  </td>
                  <td>
                    <button *ngIf="searchForm.valid" type="submit" nbButton status="primary" size="medium"><nb-icon  icon="search"></nb-icon></button>
                  </td>
                </tr>
              </table>
            </form>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <!--<th>S.no</th>-->
            <th>Item</th>
            <th>Date</th>
            <th>Qty</th>
            <th>Amount</th>
            <th>Token</th>
            <th></th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let singleOrder of order; let i=index">
            <!-- <td>{{i+1}}</td>-->
            <td>{{singleOrder?.itemName}}</td>
            <td>{{singleOrder?.createdAt| date}}</td>
            <td>{{singleOrder?.quantity}}</td>
            <td>Rs.{{singleOrder?.expenditure}}</td>

            <td>{{singleOrder?.orderCode}}</td>
            <td> <nb-icon *ngIf="(isAdmin|| iskitchener )&& singleOrder.orderStatus == 'PENDING'"
                                          [status]="singleOrder.orderStatus == 'PENDING'?'success':'primary'"
                                          icon="shopping-bag"></nb-icon>
              <nb-icon *ngIf="(isAdmin|| iskitchener ) && singleOrder.orderStatus == 'DELIVERED'"
                       icon="done-all" status="primary"></nb-icon>
              <nb-icon *ngIf="(isAdmin|| iskitchener ) && singleOrder.orderStatus == 'READY'"
                       icon="options" status="danger"></nb-icon>
            <nb-icon icon="question-mark-circle" status="info" (click)="openOrderProfile(singleOrder)"></nb-icon>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!(order.length>0)" class="text-center">
          <p>No Order history found so far!</p>
        </div>
        <app-paging *ngIf="!spinner" [pageable]="pageable" (changePage)="changePage($event)"></app-paging>
      </nb-card-body>
    </nb-card>
  </div>

