<nb-layout windowMode>
  <nb-layout-column class="bg-white">
    <div *ngIf="isAdmin" class="row">
      <div class="col-md-12 text-right">
        <button
          (click)="isFilterCollapsed = !isFilterCollapsed"
          [attr.aria-expanded]="!isFilterCollapsed" aria-controls="searchModel"
          nbButton
          shape="rectangle"
          size="small"
          status="success">
          Filter
        </button>
      </div>
    </div>
    <div class="row">
      <form [formGroup]="form" (ngSubmit)="searchOrdersByDate()">
        <table>
          <tr [hidden]="isFilterCollapsed">
            <td>
              <input [nbDatepicker]="startDate" class="form-control" formControlName="startDate"
                     [value]="form.get('startDate').value | date:'MM/dd/yyyy'"
                     name="startDate" nbInput placeholder="Start Date" status="primary" required>
              <nb-datepicker #startDate></nb-datepicker>
            </td>
            <td>
              <input [nbDatepicker]="endDate" formControlName="endDate" class="form-control"
                     [value]="form.get('endDate').value | date:'MM/dd/yyyy'"
                     name="endDate" nbInput placeholder="End Date" status="primary" required>
              <nb-datepicker #endDate></nb-datepicker>
            </td>
            <td>
              <button *ngIf="form.valid" type="submit" nbButton status="primary" size="medium"><nb-icon  icon="search"></nb-icon></button>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div *ngIf="isAdmin" class="row">
      <div class="col-md-12 text-center">
        <h6>Today Transaction</h6>
      </div>
    </div>
    <nb-card *ngIf="isAdmin">
      <nb-card-body>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a routerLink="/canteen/configuration">
              <app-icon-card [detail]="countOrderData['userCount'] + ' users'"
                             title="InActive Users"
                             type="danger">
                <nb-icon icon="person-delete" size="large"></nb-icon>
              </app-icon-card>
            </a>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <app-icon-card [detail]="'Rs. '+ countOrderData['expenditureCount']"
                           title="Sales Income"
                           type="success">
              <i>
                <nb-icon icon="activity" size="large"></nb-icon>
              </i>
            </app-icon-card>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <app-icon-card title="TopUp Income" type="info" [detail]="'Rs. '+countOrderData.topUpAmount">
              <nb-icon icon="briefcase"></nb-icon>
            </app-icon-card>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <app-user-transaction *ngIf="isAdmin"></app-user-transaction>

  <!--  //if user is student-->
<nb-card *ngIf="isStudent" accent="primary">
  <nb-card-header  class="text-center"><h6>Order Menu</h6></nb-card-header>
  <nb-card-body>
  <app-item-list></app-item-list>
  </nb-card-body>


<!--  // if user is kitchener-->
</nb-card>
    <nb-card>
      <app-kitchener-serve *ngIf="isKitchener" [orderCode]="orderCode"></app-kitchener-serve>
    </nb-card>
  </nb-layout-column>
</nb-layout>
