<nb-layout windowMode>
  <nb-layout-column class="bg-white" style="padding: 0px">
<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card accent="primary">
    <nb-card-header class="text-center"><h6>choose your action</h6></nb-card-header>
    <nb-card-body>
        <nb-radio-group>
          <nb-radio *ngFor="let option of options"
                    [checked]="option.checked"
                    [disabled]="option.disabled"
                    [value]="option.value">
            {{ option.label }}
          </nb-radio>
        </nb-radio-group>
    </nb-card-body>
    <nb-card-footer>
      <button nbTooltip="Cancel" nbTooltipStatus="danger" nbButton hero size="tiny"  status="danger" (click)="ref.close()"><nb-icon icon="close-circle"></nb-icon></button>
      <button nbTooltip="Save your action" nbTooltipStatus="primary" nbButton hero status="primary" size="tiny" class="float-right"><nb-icon icon="checkmark-square"></nb-icon></button>
    </nb-card-footer>
  </nb-card>
</ng-template>
 <nb-card accent="success">
   <nb-card-header></nb-card-header>
   <nb-card-body>
     <table class="table">
       <tr>
         <th>Item</th>
         <th>Qty</th>
         <th>Token</th>
         <th>Action</th>
       </tr>
       <tr *ngFor="let order of order">
         <td>{{order.itemName}}</td>
         <td>{{order.quantity}}</td>
         <td>{{order.orderCode}}</td>
         <td>
           <nb-icon icon="shopping-bag" status="success" (click)="openDialog(dialog , order.orderCode)"></nb-icon></td>
       </tr>
     </table>
   </nb-card-body>
 </nb-card>

  </nb-layout-column>
</nb-layout>
