<nb-layout windowMode>
  <nb-layout-column class="bg-white" style="padding: 0px">
    <ng-template #dialog let-data let-ref="dialogRef">
      <nb-card accent="primary">
        <nb-card-header class="text-center"><h6>choose your action</h6>
          {{searchForm.value.orderStatus}} </nb-card-header>
        <nb-card-body>
          <nb-radio-group #action>
            <nb-radio *ngFor="let option of options"
                      [checked]="option.checked"
                      [value]="option.value">
              {{ option.label }}
            </nb-radio>
          </nb-radio-group>
        </nb-card-body>
        <nb-card-footer>
          <button (click)="ref.close()" hero nbButton nbTooltip="Cancel" nbTooltipStatus="danger"
                  size="tiny" status="danger">
            <nb-icon icon="close-circle"></nb-icon>
          </button>
          <button *ngIf="action.value" (click)="changeOrderStatus(data , action.value);ref.close()"
                  class="float-right" hero nbButton nbTooltip="Save your action"
                  nbTooltipStatus="primary" size="tiny" status="primary">
            <nb-icon icon="checkmark-square"></nb-icon>
          </button>
        </nb-card-footer>
      </nb-card>
    </ng-template>
    <nb-card accent="primary">
      <nb-card-header>
        <div class="row">
          <div class="col-md-12">
          <button
            (click)="isFilterCollapsed = !isFilterCollapsed"
            [attr.aria-expanded]="!isFilterCollapsed" aria-controls="searchModel"
            nbButton
            shape="rectangle"
            size="tiny"
            status="primary">
            <!--<nb-icon [hidden]="!isFilterCollapsed" icon="arrow-downward"></nb-icon>
            <nb-icon [hidden]="isFilterCollapsed" icon="arrow-upward"></nb-icon>-->
            <nb-icon [icon]="'funnel-outline'"></nb-icon>
          </button>
          <div id="searchModel"   [ngbCollapse]="isFilterCollapsed">
            <form [formGroup]="searchForm">
              <table class="table-hover">
                <tr>
                  <td>
                    <input #orderCode (keyup)="search()" class="form-control" fieldSize="large"
                           formControlName="orderCode" nbInput placeholder="Token"
                           status="primary">
                  </td>
                  <td>
                    <input #itemName (keyup)="search()" class="form-control" fieldSize="large"
                           formControlName="itemName" nbInput placeholder="item"
                           status="primary">

                  </td>
                  <td>
                    <nb-select (selectedChange)="search()" formControlName="orderStatus"
                               placeholder="status" status="primary">
                      <nb-option value="PENDING">Pending</nb-option>
                      <nb-option value="READY">Ready</nb-option>
                      <nb-option value="DELIVERED">Deliver</nb-option>
                    </nb-select>
                  </td>
                </tr>
              </table>

            </form>
          </div>
        </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-bordered">
          <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>Token</th>
            <th></th>
          </tr>
          <tr *ngFor="let order of order">
            <td>{{order.itemName}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.orderCode}}</td>
            <td>
              <nb-icon (click)="openDialog(dialog , order)" *ngIf="order.orderStatus == 'PENDING'"
                       [status]="order.orderStatus == 'PENDING'?'success':'primary'"
                       icon="shopping-bag"></nb-icon>
              <nb-icon (click)="openDialog(dialog , order)" *ngIf="order.orderStatus == 'DELIVERED'"
                       icon="done-all" status="primary"></nb-icon>
              <nb-icon (click)="openDialog(dialog , order)" *ngIf="order.orderStatus == 'READY'"
                       icon="options" status="danger"></nb-icon>

            </td>
          </tr>
        </table>
        <div *ngIf="order.length > 0" class="row">
          <div class="col-md-12">
            <button nbButton (click)="loadData()" fullWidth outline status="success">Load More</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

  </nb-layout-column>
</nb-layout>
