<div class="bg-white">
<app-kitchener-serve *ngIf="isAdmin"></app-kitchener-serve>
   <!-- <nb-card>
      <tr
        nbInfiniteList
        listenWindowScroll
        [threshold]="500"
        (bottomThreshold)="loadNext()">
        <nb-list-item *ngFor="let order of order">
         <p class="float-right">{{order.itemName}}</p> <p class="float-right">{{order.itemName}}</p>
        </nb-list-item>
      </tr>
    </nb-card>-->
  <app-orders *ngIf="isStudent" [searchDto]="searchDto"></app-orders>

</div>
