<nb-layout>
<nb-layout-column class="bg-white">

   <!-- <nb-card>
      <tr
        nbInfiniteList
        listenWindowScroll
        [threshold]="500"
        (bottomThreshold)="loadNext()">
        <nb-list-item *ngFor="let order of order">
         <p class="float-right">{{order.itemName}}</p> <p class="float-right">{{order.itemName}}</p>
        </nb-list-item>
      </tr>
    </nb-card>-->
<!--  <app-orders *ngIf="isStudent" [searchDto]="searchDto"></app-orders>-->
  <nb-card accent="info">
    <nb-card-header>
      <nb-checkbox class="float-right" status="info">inactive</nb-checkbox>
    </nb-card-header>
    <nb-card-body class="example-last-child-no-b-margin">
      <ng-container *ngFor="let notification of notifications">
        <div><b style="font-size: 11px">{{notification.date |date}} {{dateHourFormatter(notification.date)}}</b></div>
      <nb-alert class="cursor" status="basic" closable (close)="closeMessage(notification , 'INACTIVE')">
        <nb-badge *ngIf="notification.isSeen !== true" [text]="'new'" status="danger" position="bottom left"></nb-badge>
       <p  (click)="readMessage(notification)">{{notification.message}}. {{notification.quantity}}</p>
      </nb-alert>
      </ng-container>
    </nb-card-body>
  </nb-card>
  <nb-list *ngIf="notifications === null || notifications === undefined">
    <nb-list-item>No notifications</nb-list-item>
  </nb-list>

</nb-layout-column>
</nb-layout>
