<nb-card accent="success">
  <p> Order Recieved!</p>
  <nb-card-body>
    <button nbButton hero status="info" class="float-right">Deliver</button>
  </nb-card-body>
</nb-card>

<nb-card accent="danger">
 <p> Order Recieved!</p>
  <nb-card-body>

    <button nbButton hero status="warning" class="float-right">Deliver</button>
  </nb-card-body>
</nb-card>

<nb-card accent="success">
  <p> Order Recieved!</p>
  <nb-card-body>
    <button nbButton hero status="danger" class="float-right">Deliver</button>
  </nb-card-body>
</nb-card>
