/* You can add global styles to this file, and also import other style files */
th{
 /* background-color: #274bdb;
  color: whitesmoke;*/
  color: #865adb;
}
/*table{
  border-color: #274bdb;
}*/
.cursor {
  cursor: pointer;
}
nb-sidebar, nb-sidebar > div.main-container {
  transition: width 0.4s;
}
