/* You can add global styles to this file, and also import other style files */
th{
 /* background-color: #274bdb;
  color: whitesmoke;*/
  color: #865adb;
}
/*table{
  border-color: #274bdb;
}*/
.cursor {
  cursor: pointer;
}

nb-sidebar, nb-sidebar > div.main-container {
  transition: width 0.5s;
}

.grad-primary {
  background: linear-gradient(to bottom, #096484, #c4e0e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nb-layout-column {
  padding: 0;
}
